a{
  color: #ff0099;
}
body {
  font-family: 'consolas', courier;
  font-size:  15px;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
  background-image: url("topography.png");
  background-repeat: repeat; 
}
header {
  background-color: #333333;
  height: 40px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 10%;
  padding-right: 10%; 
}
.job_title{
  color: #ff0099;
}

/**.divlinks{

  align-items: right;
}
  padding-top: 10px;
  display: block;
  padding-left: 0px;
  align-content: right;
}
*/
.links {
  display: inline-block;
  text-align: right;
  width: 40%;
  margin-left: 56%;

}
nav a{
  margin-left: 7%;
  margin-bottom: 6px;
  height: 30%;
}

h2{
  text-align: center;
}
.separator{
  text-align: center;
}
dfn{
  font-weight: bold;
  font-size: 
}
#logo{
  margin-top: 3px;
  width: 3%;
}
main{
  padding-left: 10%;
  padding-right: 10%;
}