<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <form action="/login" method="post">
        Username:<br>
        <input type="text" Name="username" value="">
        <br>
        Password:<br>
        <input type="password" name="password" value="">
        <br><br>
        <input type="submit" class="btn btn-outline-secondary btn-sm" value="Login">
    </form>
</body>
</html>