@model GreetSomeone.ViewModels.GreetingViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Greeting</title>
</head>
<body>
        <p>Hello @Model.GreetingList[1].Name</p>
    hello
</body>
</html>