body{
background-color: gray;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    text-align: left;
}
tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: aliceblue;
}

#king {
    font-style: italic;
    color: pink;
    font-size: 15px;
    font-weight: 500;
    text-shadow: initial;
    text-transform: uppercase;
    background-color: green;
}