.outer-div1 {
    box-sizing: border-box;
    height: 288px;
    width: 380px;
    padding: 0px;
    border: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    border-style: solid;
    border-color: #4285f4;
    margin: 5px;
}
.outer-div2 {
    box-sizing: border-box;
    height: 288px;
    width: 380px;
    padding: 0px;
    border: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    border-style: solid;
    border-color: #4285f4;
    margin: 5px;
}


.inner-div {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    
}
div.outer-div1 > div{
    background-color: #E67676;
}
div.outer-div2 > div{
    background-color: #A9E6E6;
}

p {
    display: inline-block;
    margin: 44px;
}