<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EZ Manager</title>
</head>
<body>
    @ViewBag.Message
    <form action="/login" method="post">
        User Name:<br>
        <input type="text" name="username" value="">
        <br>
        Password:<br>
        <input type="password" name="password" value="">
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>