<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Visitor Counter</title>
</head>
<body>
    @Model.Counter
    <form action="/" method="post">
        <input type="submit" value="New Visitor">
    </form> 
</body>
</html>