* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: #51486A;
    border-radius: 2px;
}

body {
    background-color: #DCD6CD;
    margin: 0;
}

main{
    box-sizing: border-box;
    width: 620px;
    margin-left: 320px;
    
}
h1 {
    padding-top: 15px;
    font-weight: normal;
    font-size: 2rem;
}

h2 {
    font-weight: normal;
    color: #e4e3e3;
    background-color: #938C97;
    width: auto;
    box-sizing: border-box;
    height: 40px;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

label {
    font-weight: 700;
    color: #635B73;
    margin-top: 1px;
    display: inline-block;
}

input {
    border-style: solid;
    border-color: #938C97;
    border-width: 1px;
    padding-left: 10px;
}

::-webkit-input-placeholder {
    color: grey;
    opacity: 0.7;
    size: 20px;
}

span {
    color: red;
}

input[type="radio"] {
    margin-top: 10px;
}

.personal {
    box-sizing: border-box;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

input[type="text"] {
    width: 96%;
    height: 35px;
}

input[type="tel"] {
    width: 96%;
    height: 35px;
}

input[type="number"] {
    height: 35px;
}

input[type="email"] {
    width: 96%;
    height: 35px;
}

input[name="name"] {
    display: block;
}

.date-of-birth {
    display: inline-block;
    width: 48.5%;
}

.gender {
    display: inline-block;
}

.brand {
    display: block;
}

article {
    display: inline-block;
}

.first-article {
    width: 49%;
}

.second-article {
    width: 49%;
}

footer {
    text-align: center;
}

.contact {
    box-sizing: border-box;
    width: 46.5%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
}

input {
    margin-top: 4px;
    margin-bottom: 7px;
}

select {
    margin-top: 4px;
}

textarea {
    margin-top: 4px;
    margin-bottom: 7px;
    width: 98.5%;
    height: 80px;
}

input[name="phone-number"] {
    display: block;
}

input[name="email"] {
    display: block;
}

input[name="facebook-profile"] {
    display: block;
}

input[name="twitter-profile"] {
    display: block;
}

input[name="house-type"] {
    display: block;
}

