<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add client</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <form action="/addclient" method="post">
        Name:<br>
        <input type="text" Name="name" value="">
        <br>
        Hourly Rate:<br>
        <input type="number" name="hourlyRate" value="">
        <br>
        Billing Day:<br>
        <input type="number" Name="billingDay" value="">
        <br><br>
        <input type="submit" value="Add New Client">
    </form> 
</body>
</html>